<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Anuncios</title>
</head>

<body>

    <h1>Anuncios</h1>

    <p>
        Alumno:
        <strong th:text="${alumno.nombre + ' ' + alumno.apellido}"></strong>
    </p>

    <table border="1">
        <thead>
            <tr>
                <th>Título</th>
                <th>Mensaje</th>
                <th>Asignatura</th>
                <th>Fecha</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="anuncio : ${anuncios}">
                <td th:text="${anuncio.titulo}"></td>
                <td th:text="${anuncio.mensaje}"></td>
                <td th:text="${anuncio.asignatura}"></td>
                <td th:text="${anuncio.fechaPublicacion}"></td>
            </tr>
        </tbody>
    </table>

    <br>

    <a th:href="@{/alumno/{id}/dashboard(id=${alumno.uid})}">
        Volver al dashboard
    </a>

</body>

</html>