<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Alumno</title>
    <link rel="stylesheet" th:href="@{/css/edupanel.css}">
</head>

<body>

    <h1>Panel del Alumno</h1>

    <p>
        Bienvenido:
        <strong th:text="${alumno.nombre + ' ' + alumno.apellido}"></strong>
    </p>

    <p>
        Promedio actual:
        <strong th:text="${alumno.calcularPromedio()}"></strong>
    </p>

    <p>
        Estado:
        <strong th:text="${alumno.obtenerEstadoAcademico()}"></strong>
    </p>

    <p th:if="${curso != null}">
        Curso actual:
        <strong th:text="${curso.nombre}"></strong>
    </p>

    <p th:if="${curso == null}" style="color:red;">
        Aún no tienes un curso asignado.
    </p>

    <ul>
        <li>
            <a th:href="@{/alumno/{id}/notas(id=${alumno.uid})}">
                Ver mis notas
            </a>
        </li>

        <li>
            <a th:href="@{/alumno/{id}/anuncios(id=${alumno.uid})}">
                Ver anuncios
            </a>
        </li>
    </ul>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Cerrar sesion</button>
    </form>

</body>

</html>
