<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>EduPanel</title>
    <link rel="stylesheet" th:href="@{/css/edupanel.css}">
</head>

<body>

    <h1>EduPanel</h1>

    <p>
        Gestion academica para alumnos, profesores y profesor jefe.
    </p>

    <ul>
        <li><a href="/login">Iniciar sesion</a></li>
        <li><a href="/registro">Registrarse</a></li>
        <li><a href="/profesor-jefe/usuarios-pendientes">Usuarios pendientes</a></li>
        <li><a href="/profesor-jefe/profesores">Profesores</a></li>
        <li><a href="/profesor-jefe/cursos">Cursos</a></li>
    </ul>

</body>

</html>
